/*-- scss:defaults --*/

// headings
$presentation-heading-color: #bb0000;
$body-color: #4f4f4f;
$code-block-font-size: 0.73em;
$presentation-font-size-root: 30px;
$presentation-font-smaller: 0.84;
$presentation-heading-line-height: 2.1;

.reveal .footer {
  font-size: 0.35em !important;
  text-align: right !important;
}

